name: Changelog Generator

on:  
  pull_request:
    branches: [ main ]
  workflow_dispatch:
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@eb238b55efaa70779f274895e782ed17c84f2895 # v2.6.1
        with:
          egress-policy: audit

      - uses: actions/checkout@b4ffde65f46336ab88eb53be808477a3936bae11 # v4.1.1
        with: 
          fetch-depth: 0
      - run: docker run -v $PWD:/workdir quay.io/git-chglog/git-chglog:0.15.1 --next-tag $(node --eval="process.stdout.write(require('./package.json').version)") --output CHANGELOG.md  
      - name: GitHub Upload Release Artifacts
        uses: actions/upload-artifact@26f96dfa697d77e81fd5907df203aa23a56210a8 # v4.3.0
        with:
          name: CHANGELOG.md
          path: |
            ./CHANGELOG.md
      # publish it
      - name: Publish content
        if: ${{ github.ref == 'refs/heads/main' }}      
        run: |
          git config user.name github-actions
          git config user.email github-actions@github.com
          git add ./CHANGELOG.md
          git commit -m 'docs(changelog): update changelog'
          git push origin main
      
